.page-header{
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial;
}

img{
    height: 200px;
    border-radius: 10px;
    margin: 15px;
}

h1{
    font-family: Arial, sans-serif;
    font-size: medium;
}
h2{
    font-family: Arial, sans-serif;
    font-size: small;
}

.wrapper {
    display:flex;   
}

#hebergements-marseille .wrapper {
    display: flex;
    flex-direction: column;
}
.hebergements-top .hebergements-bottom {
    display: flex;
}